.aside-bar {
  width: 460px;
  background-color: #FFB900;
  height: 100vh;
}

.container {
  display: flex;
}

.about img {
  width: 300px;
  height: 300px;
}

.header-container {
  
  height: 400px;
  background-color: aqua;
  margin-left: 60px;
  
}